<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title th:text="#{application.title} + ' - ' + #{label.login}"></title>
<!-- Tell the browser to be responsive to screen width -->
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport" />
<!-- Bootstrap 3.3.7 -->

<th:block th:replace="layout/css"></th:block>
</head>
<body class="hold-transition login-page">
	<div class="login-box">
		<div class="login-logo">
			<!-- <img alt="Classic Logo" src=""
				th:src="@{/assets/img/logo/classic_info_Logo.jpg}" /> -->
		</div>
		<!-- /.login-logo -->
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title" th:text="#{label.sign-in-start-session}"></h3>
			</div>
			
			<form action="" th:action="@{/login}" method="post" role="form">

				<div class="box-body">
				
					<div th:if="${param.error}" class="text-center">
						<div class="alert alert-danger" th:text="#{alert.invalid-password}">
						</div>
					</div>
					<div th:if="${param.logout}" class="text-center">
						<div class="alert alert-info" th:text="#{alert.logout-success}"></div>
					</div>
					

					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-user"></i></span> <input
							type="text" name="username" class="form-control"
							placeholder="Username" />
					</div>
					<br />
	
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-lock"></i></span> <input
							type="password" name="password" class="form-control"
							placeholder="Password" />
					</div>
				</div>

				<div class="box-footer col-xs-12">
					<button type="submit" class="btn btn-primary pull-right">
						<i class="fa fa-sign-in padding-right-sm"></i><span th:text="#{label.sign-in}"></span>
					</button>
				</div>
				<div class="box-footer col-xs-12 text-center">
					<a href="#" th:text="#{link.forgot-password}"></a>
				</div>
				<br />
			</form>


		</div>
		<!-- /.login-box-body -->
	</div>
	<!-- /.login-box -->

	<!-- jQuery 3 -->
	<th:block th:replace="layout/script"></th:block>
	<script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' /* optional */
    });
  });
</script>
</body>
</html>
