<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" 
	layout:decorator="layout/base" th:with="pageHeader=#{title.complaint-types}">

<head>
<title th:text="#{title.complaint-types}"></title>

</head>

<body>
 	<div layout:fragment="content">
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title" th:text="#{title.complaint-types}"></h3>
				  <a class="btn btn-primary pull-right" href="#addComplaintTypeModal" data-toggle="modal">
					<i class="fa fa-plus-square padding-right-sm"></i><span th:text="#{label.new-complaint-type}"></span>
				  </a>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
				<table id="complaintTypeTable" class="table table-bordered table-striped" style="width: 100%">
					<thead>
						<tr>
							<th th:text="#{label.name}"></th>
							<th th:text="#{label.resolution-days}"></th>
							<th th:text="#{label.assign-to}"></th>
							<th class="text-center" th:text="#{label.action}"></th>
						</tr>
					</thead>
				</table>
			</div>
			<!-- /.box-body -->
		</div>
		
		<!-- Add Modal -->
		<div class="modal fade" role="dialog"
			aria-labelledby="addComplaintTypeModalTitle" id="addComplaintTypeModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<form action="" data-toggle="validator" id="addComplaintTypeForm">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">x</span>
							</button>
							<h4 id="addComplaintTypeModalTitle" class="modal-title" th:text="#{label.add-complaint-type}"></h4>
						</div>
						<div class="modal-body">
							
							<div class="row">
								<div class="form-group col-xs-12 has-feedback">
									<label for="name" th:text="#{label.name}"></label>
									<input type="text"
										class="form-control" id="add_name" name="name" 
										required="required" 
										maxlength="100"
										th:data-remote="@{/api/validation/complaintType}"
										data-remote-error="Complaint Type already exists with same name."/>
									<div class="help-block with-errors"></div>
								</div>
							</div>
							
							<div class="row">
								<div class="form-group col-xs-12 has-feedback">
									<label for="resolutionDays" th:text="#{label.resolution-days}"></label>
									<input type="number"
										class="form-control" id="add_resolutionDays" name="resolutionDays" 
										required="required" 
										value="1"
										min="1" />
									<div class="help-block with-errors"></div>
								</div>
							</div>
							
							<div class="row">
								<div class="form-group col-xs-12 has-feedback">
									<label for="assignTo" th:text="#{label.assign-to}"></label>
									<select class="form-control" required="required"
										id="add_assignTo" name="assignTo" style="width: 100%">
										<option th:each="user: ${users}" 
											th:value="${user.id}" 
											th:text="|${user.username} (${user.firstName} ${user.lastName})|"></option>
									</select>
									<div class="help-block with-errors"></div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default pull-left"
								data-dismiss="modal">
								<i class="fa fa-close padding-right-sm"></i><span th:text="#{button.close}"></span>
							</button>
							<button type="submit" id="add_submitButton"
								class="btn btn-primary">
								<i class="fa fa-save padding-right-sm"></i><span th:text="#{button.save}"></span>
							</button>
						</div>
					</form>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		
		<!-- Edit modal -->
		<div class="modal fade" role="dialog"
			aria-labelledby="editComplaintTypeModalTitle" id="editComplaintTypeModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<form action="" data-toggle="validator" id="editComplaintTypeForm">
						<input type="hidden" name="id" id="edit_id" required="required" />
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">x</span>
							</button>
							<h4 id="editComplaintTypeModalTitle" class="modal-title" th:text="#{label.edit-complaint-type}"></h4>
						</div>
						<div class="modal-body">
							
							<div class="row">
								<div class="form-group col-xs-12 has-feedback">
									<label for="name" th:text="#{label.name}"></label>
									<input type="text"
										class="form-control" id="edit_name" name="name" 
										required="required" 
										maxlength="100"
										th:data-remote="@{/api/validation/complaintType}"
										data-remote-error="Complaint Type already exists with same name."/>
									<div class="help-block with-errors"></div>
								</div>
							</div>
							
							<div class="row">
								<div class="form-group col-xs-12 has-feedback">
									<label for="resolutionDays" th:text="#{label.resolution-days}"></label>
									<input type="number"
										class="form-control" id="edit_resolutionDays" name="resolutionDays" 
										required="required" 
										min="1"/>
									<div class="help-block with-errors"></div>
								</div>
							</div>
							
							<div class="row">
								<div class="form-group col-xs-12 has-feedback">
									<label for="assignTo" th:text="#{label.assign-to}"></label>
									<select class="form-control" required="required"
										id="edit_assignTo" name="assignTo" style="width: 100%">
										<option th:each="user: ${users}" 
											th:value="${user.id}" 
											th:text="|${user.username} (${user.firstName} ${user.lastName})|"></option>
									</select>
									<div class="help-block with-errors"></div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default pull-left"
								data-dismiss="modal">
								<i class="fa fa-close padding-right-sm"></i><span th:text="#{button.close}"></span>
							</button>
							<button type="submit" id="edit_submitButton"
								class="btn btn-primary">
								<i class="fa fa-save padding-right-sm"></i><span th:text="#{button.save}"></span>
							</button>
						</div>
					</form>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		
	</div>
	
	<th:block layout:fragment = "scripts">
		<!-- page script -->
		<script>
			$(function() {
				// Complaint Types data table initialization
				var complaintTypeDataTable = $('table#complaintTypeTable').DataTable({
					ajax : {
						contentType: 'application/json',
						url: contextRoot + '/data/complaintTypes',
						type: 'POST',
						data: function(d) {
							return JSON.stringify(d);
						}
					},
					serverSide : true,
					select: 'single',
					deferRender: true,
					columns : [{
						data : 'name'
					},{
						data : 'resolutionDays'
					},{
						data : 'assignTo',
						render: function (data, type, row) {
							return data.username + ' (' + data.firstName + ' ' + data.lastName + ')';
						}
					}, {
						 orderable : false,
						 class : 'text-center',
			             data : 'id',
			             render: function (data, type, row) {
			            	 
			            	 	if(row.name.toUpperCase() === 'OTHER') {
			            	 		return '';
			            	 	} else {
			            	 		return '<span class="btn-group">'
									 + '<button class="btn btn-primary btn-xs edit-item" title="Edit" data-id="' + data +'">'
									 + '   <i class="fa fa-pencil"></i>'
									 + ' </button>'
									 + '<button class="btn btn-danger btn-xs delete-item" title="Delete" data-id="' + data +'">'
									 + '   <i class="fa fa-trash"></i>'
									 + ' </button>'
									 + '</span>';
			            	 	}
								
							}
					}]
				});
				
				// Select box for roles
				$('#add_assignTo, #edit_assignTo').select2({});
				
				// Add modal handling
				$("#addComplaintTypeModal").on("hide.bs.modal", function() {
					// On modal close, reset form
					 $('#addComplaintTypeForm')[0].reset();
				});
				
				// Submit add user form
				$("#addComplaintTypeForm").submit(function( event ) {
					event.preventDefault();
					
					var hasErrors = $('#addComplaintTypeForm').validator('validate').has('.has-error').length;
					
					if(!hasErrors) {
					  	var formValues = $(this).serialize();
					  
					  	$.ajax({
					  	   url: contextRoot + '/api/complaintTypes',
					  	   type: 'POST',
					  	   data: formValues,
					  	   success: function(response) {
					  		 if(response.status) {
					        		// Close modal popup
					        		 $('#addComplaintTypeModal').modal('toggle');
					        		
					        		// Show success alert
					        		swal("Created !!", "Complaint Type created successfully.", "success");
					        		
					        		// add new row in data tables
					        		var complaintType = response.data;
					        		complaintTypeDataTable.row.add( {
					                    "name": complaintType.name,
					                    "resolutionDays" : complaintType.resolutionDays,
					                    "assignTo" : complaintType.assignTo
					                } ).draw();
					        		
					        	} else {
					        		// Show failure alert
					        		swal("Failure !!", "Complaint Type cannot be created. \r\n" + response.message, "error");
					        	}
					  	   }
					  	});
					}
				});

				// Edit Modal handling
				$(document).on("click", ".edit-item", function(e){
					
					var row = complaintTypeDataTable.row($(this).closest("tr"))
					var rowData = row.data();
					
					// Prefill edit form
					$("#edit_id").val(rowData.id);
					$("#edit_name").val(rowData.name);
					$("#edit_resolutionDays").val(rowData.resolutionDays);
					$("#edit_assignTo").val(rowData.assignTo.id).trigger("change");
				
					// Show edit modal dialog
					 $('#editComplaintTypeModal').modal('toggle');
					
				});
				
				$("#editComplaintTypeModal").on("hide.bs.modal", function() {
					// On modal close, reset form
					 $('#editComplaintTypeForm')[0].reset();
				});
				
				// Submit edit user form
				$("#editComplaintTypeForm").submit(function( event ) {
					event.preventDefault();
					
					var hasErrors = $('#editComplaintTypeForm').validator('validate').has('.has-error').length;
					
					if(!hasErrors) {
					  	var formValues = $(this).serialize();
					  	var complaintTypeId = $("#edit_id").val();
					  	var complaintTypeUpdateURL = '/api/complaintTypes/' + complaintTypeId; 
						$.ajax({
						  	   url: contextRoot + complaintTypeUpdateURL,
						  	   type: 'PUT',
						  	   data: formValues,
						  	   success: function(response) {
						  		 if(response.status) {
						        		// Close modal popup
						        		 $('#editComplaintTypeModal').modal('toggle');
						        		
						        		// Show success alert
						        		swal("Updated !!", "Complaint Type updated successfully.", "success");
						        		
						        		// add new row in data tables
						        		var complaintType = response.data;
						        		complaintTypeDataTable.rows({selected : true}).data( {
						        			"name": complaintType.name,
						                    "resolutionDays" : complaintType.resolutionDays,
						                    "assignTo" : complaintType.assignTo
						                } ).draw();
						        		
						        	} else {
						        		// Show failure alert
						        		swal("Failure !!", "Complaint Type cannot be updated. \r\n" + response.message, "error");
						        	}
						  	   }
						  });
					 }
				});
				
				// Delete button handling
				$(document).on("click", ".delete-item", function(e){
					
					var row = complaintTypeDataTable.row($(this).closest("tr"))
					var rowData = row.data();
					
					var complaintTypeId = rowData.id;
					var complaintTypeName = rowData.name;
					
					var confirmMessage = 'All the existing complaints of type ' 
											+ '<strong><i>'+complaintTypeName+'</i></strong> '
											+ 'will be transferred to type <strong><i>Other</i></strong>.';
				
					// Show confirmation alert
					swal({
						  title: "Are you sure?",
						  text: confirmMessage,
						  type: "warning",
						  showCancelButton: true,
						  confirmButtonClass: "btn-danger",
						  confirmButtonText: "Yes, delete it!",
						  closeOnConfirm: false,
						  html: true,
						  showLoaderOnConfirm: true
						},
						function(){
							var complaintTypeDeleteURL = '/api/complaintTypes/' + complaintTypeId;
							$.ajax({
							  	   url: contextRoot + complaintTypeDeleteURL,
							  	   type: 'DELETE',
							  	   success: function(response) {
							  		 if(response.status) {
							        		// Show success alert
							        		swal("Deleted!", "Complaint Type deleted successfully.", "success");
							        		
							        		// remove new row in data tables
							        		complaintTypeDataTable.row(".selected").remove().draw();
							        		
							        	} else {
							        		// Show failure alert
							        		swal("Failure !!", "Complaint Type cannot be deleted. \r\n" + response.message, "error");
							        	}
							  	   }
							  });
						  
						});
					
				});
				
			});
		</script>
</body>
</html>