<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title layout:title-pattern="પાટણ નગરપાલિકા - $CONTENT_TITLE"
		th:text="#{application.title}"></title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
		name="viewport" />
	
	<th:block th:replace="layout/css"></th:block>
</head>

<body class="hold-transition skin-blue sidebar-mini sidebar-collapse">
	<div class="wrapper" th:with="message=${message eq null ? new org.gov.patannagarpalika.dto.MessageDTO() : message}">

		<th:block th:replace="layout/header"></th:block>

		<th:block th:replace="layout/menu"></th:block>

		<th:block th:replace="layout/body"></th:block>

		<th:block th:replace="layout/footer"></th:block>

	</div>

	<th:block th:replace="layout/script"></th:block>
</body>
</html>