<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			<span th:text="${pageHeader}"></span>
			<!-- <small>Optional description</small> -->
		</h1>
	</section>

	<!-- Main content -->
	<section class="content container-fluid">

		<th:block th:replace="layout/message"></th:block>

		<div layout:fragment="content">
			<p>Page content goes here</p>
		</div>

	</section>
	<!-- /.content -->
</div>
<!-- /.content-wrapper -->