<!-- Main Footer -->
<footer class="main-footer">
	<!-- To the right -->
	<div class="pull-right hidden-xs">Terms &amp; Conditions</div>
	<!-- Default to the left -->
	<strong>Copyright &copy; 2018 <a href="https://patandp.gujarat.gov.in">Patan Nagarpalika</a>.
	</strong> All rights reserved.
</footer>