<!-- Main Header -->
<header class="main-header">

	<!-- Logo -->
	<a href="#" th:href="@{/}" class="logo"
		style="background-color: white;"> <!-- mini logo for sidebar mini 50x50 pixels -->
		<span class="logo-mini">પાટણ નગરપાલિકા</span> <!-- logo for regular state and mobile devices -->
		<span class="logo-lg"> <!-- <img alt="Logo" src=""
			th:src="@{/assets/img/logo/classic_info_logo.jpg}" /> -->
		</span>
	</a>

	<!-- Header Navbar -->
	<nav class="navbar navbar-static-top" role="navigation">
		<!-- Sidebar toggle button-->
		<a href="#" class="sidebar-toggle" data-toggle="push-menu"
			role="button"> <span class="sr-only">Toggle navigation</span>
		</a>
		
		<!-- Navbar Right Menu -->
		<div class="navbar-custom-menu">
			<ul class="nav navbar-nav">

				<!-- User Account Menu -->
				<li class="dropdown user user-menu">
					<!-- Menu Toggle Button --> <a href="#" class="dropdown-toggle"
					data-toggle="dropdown"> <!-- The user image in the navbar--> <img
						src="" th:src="@{/assets/img/user2-160x160.jpg}"
						class="user-image" alt="User Image" /> <!-- hidden-xs hides the username on small devices so only the image appears. -->
						<span class="hidden-xs" th:text="${session.currentUser.username}"></span>
				</a>
					<ul class="dropdown-menu">
						<!-- The user image in the menu -->
						<li class="user-header"><img src=""
							th:src="@{/assets/img/user2-160x160.jpg}" class="img-circle"
							alt="User Image" />
							<br />
							<div class="col-xs-12 text-center">
								<span th:text="${session.currentUser.username}"></span> | 
								<small><span th:each="role : ${session.currentUser.roles}" th:text="|${role.name} |"></span></small>
							</div>
        				</li>

						<!-- Menu Footer-->
						<li class="user-footer">
							<div class="pull-left">
								<a href="#" class="btn btn-default btn-flat" th:text="#{title.profile}"></a>
							</div>
							<div class="pull-right">
								<a href="#" th:href="@{/logout}"
									class="btn btn-default btn-flat" th:text="#{title.sign-out}"></a>
							</div>
						</li>
					</ul>
				</li>
				
			</ul>
		</div>
		
		<div class="center-navbar">
			પાટણ નગરપાલિકા
		</div>
	</nav>
</header>
