<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

	<!-- sidebar: style can be found in sidebar.less -->
	<section class="sidebar">

		<!-- Sidebar user panel (optional) -->
		<div class="user-panel">
			<div class="pull-left image">
				<img src="" th:src="@{/assets/img/user2-160x160.jpg}"
					class="img-circle" alt="User Image" />
			</div>
			<div class="pull-left info">
				<p>
					<span th:text="${session.currentUser.username}"></span> | 
					<small><span th:each="role : ${session.currentUser.roles}" th:text="|${role.name} |"></span></small>
				</p>
			</div>
		</div>

		<!-- Sidebar Menu -->
		<ul class="sidebar-menu" data-widget="tree">
			<li class="header">NAVIGATION</li>
			<!-- Optionally, you can add icons to the links -->
			<li id="dashboard" class="active" th:if="${session.currentUser.hasRole('ADMIN')}">
				<a href="#" th:href="@{/}">
					<i class="fa fa-dashboard"></i> <span th:text="#{title.dashboard}"></span>
				</a>
			</li>
			<li id="users">
				<a href="#" th:href="@{/users}" th:if="${session.currentUser.hasRole('ADMIN')}">
					<i class="fa fa-users"></i> <span th:text="#{title.users}"></span>
				</a>
			</li>
			<li id="complaintTypes">
				<a href="#" th:href="@{/complaintTypes}" th:if="${session.currentUser.hasRole('ADMIN')}">
					<i class="fa fa-paw"></i> <span th:text="#{title.complaint-types}"></span>
				</a>
			</li>
			<li id="complaints">
				<a href="#" th:href="@{/complaints}">
					<i class="fa fa-frown-o"></i> <span th:text="#{title.complaints}"></span>
				</a>
			</li>
			<li>
				<a href="#"><i class="fa fa-bar-chart"></i> <span th:text="#{title.reports}"></span></a>
			</li>
		</ul>
		<!-- /.sidebar-menu -->
	</section>
	<!-- /.sidebar -->
</aside>

