<div th:if="${message ne null and not message.isEmpty()}">
	<div th:if="${message.successMessages}" class="alert alert-success alert-dismissible align-middle"
		role="alert">
		<button type="button" class="close" data-dismiss="alert"
			aria-hidden="true">&times;</button>
		<ul class="fa-ul margin-left-xs">
			<li th:each="success : ${message.successMessages}"><i
				class="icon fa fa-check"></i><span th:text="${success}"></span></li>
		</ul>

	</div>
	<div th:if="${message.errorMessages}" class="alert alert-danger alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert"
			aria-hidden="true">&times;</button>
		<ul class="fa-ul margin-left-xs">
			<li th:each="error : ${message.errorMessages}"><i
				class="icon fa fa-ban"></i><span th:text="${error}"></span></li>
		</ul>

	</div>
	<div th:if="${message.infoMessages}" class="alert alert-info alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert"
			aria-hidden="true">&times;</button>
		<ul class="fa-ul margin-left-xs">
			<li th:each="info : ${message.infoMessages}"><i
				class="icon fa fa-info"></i><span th:text="${info}"></span></li>
		</ul>
	</div>
	<div th:if="${message.warningMessages}" class="alert alert-warning alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert"
			aria-hidden="true">&times;</button>
		<ul class="fa-ul margin-left-xs">
			<li th:each="warning : ${message.warningMessages}"><i
				class="icon fa fa-warning"></i><span th:text="${warning}"></span></li>
		</ul>
	</div>

</div>