<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 3 -->
<script src=""
	th:src="@{/assets/bower_components/jquery/dist/jquery.min.js}"></script>
<!-- Bootstrap 3.3.7 -->
<script src=""
	th:src="@{/assets/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
<!-- Slimscroll -->
<script src=""
	th:src="@{/assets/bower_components/jquery-slimscroll/jquery.slimscroll.min.js}"></script>
<!-- jQuery Date format library -->
<script src=""
	th:src="@{/assets/bower_components/jquery-dateFormat/dist/jquery-dateFormat.min.js}"></script>
<!-- FastClick -->
<script src=""
	th:src="@{/assets/bower_components/fastclick/lib/fastclick.js}"></script>
<!-- iCheck -->
<script src="" th:src="@{/assets/plugins/iCheck/icheck.min.js}"></script>
<!-- Bootstrap Toggle -->
<script src=""
	th:src="@{/assets/bower_components/bootstrap-toggle/js/bootstrap-toggle.min.js}"></script>
<!-- Bootstrap Datepicker -->	
<script src=""
	th:src="@{/assets/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js}"></script>
	
<!-- DataTables -->
<script src=""
	th:src="@{/assets/bower_components/datatables.net/js/jquery.dataTables.min.js}"></script>
<script src=""
	th:src="@{/assets/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js}"></script>
<script src=""
	th:src="@{/assets/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
<script src=""
	th:src="@{/assets/bower_components/datatables.net-rowgroup/js/dataTables.rowGroup.min.js}"></script>

<!-- Data tables select plugin -->	
<script src=""
	th:src="@{/assets/bower_components/datatables.net-select/js/dataTables.select.min.js}"></script>
	
<script src=""
	th:src="@{/assets/bower_components/datatables.net-select-dt/js/select.dataTables.min.js}"></script>
	
<!-- Select2 -->
<script src=""
	th:src="@{/assets/bower_components/select2/dist/js/select2.full.min.js}"></script>
	
<script src="" 
	th:src="@{/assets/bower_components/bootstrap-sweetalert/dist/sweetalert.min.js}"></script>

<!-- AdminLTE App -->
<script src="" th:src="@{/assets/js/adminlte.min.js}"></script>

<!-- For DataTables Spring plugin  -->
<script src="" th:src="@{/assets/js/jquery.spring-friendly.js}"></script>

<!-- ForBootstrap Validator plugin  -->
<script src="" th:src="@{/assets/bower_components/bootstrap-validator/dist/validator.min.js}"></script>

<!-- ChartJS -->
<script src="" th:src="@{/assets/bower_components/chart.js/Chart.min.js}"></script>

<!-- For DataTables Spring plugin  -->
<script src="" th:src="@{/assets/js/main.js}"></script>

<script th:inline="javascript">
	const contextRoot = '/pnp-complaint-portal';

	// Prepend context path to all jQuery AJAX requests
	//$.ajaxPrefilter(function( options, originalOptions, jqXHR ) {
	//	if (!options.crossDomain && !options.url.startsWith(contextRoot)) {
	//		options.url = contextRoot + options.url;
	//	}
	//});
</script>

<!-- Will Replaced with Page specific JS -->
<th:block layout:fragment="scripts">
</th:block>