<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" 
	layout:decorator="layout/base" th:with="pageHeader=#{title.users}">

<head>
<title th:text="#{title.users}"></title>

</head>

<body>
 	<div layout:fragment="content">
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title" th:text="#{title.users}"></h3>
				 <a class="btn btn-primary pull-right" href="#addUserModal" data-toggle="modal">
					<i class="fa fa-plus-square padding-right-sm"></i><span th:text="#{label.new-user}"></span>
				</a>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
				<table id="userTable" class="table table-bordered table-striped"  style="width:100%">
					<thead>
						<tr>
							<th th:text="#{label.username}"></th>
							<th th:text="#{label.first-name}"></th>
							<th th:text="#{label.last-name}"></th>
							<th th:text="#{label.email}"></th>
							<th th:text="#{label.role}"></th>
							<th th:text="#{label.status}"></th>
							<th class="text-center" th:text="#{label.action}"></th>
						</tr>
					</thead>
				</table>
			</div>
			<!-- /.box-body -->
		</div>

		<div class="modal fade" role="dialog"
			aria-labelledby="addUserModalTitle" id="addUserModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<form action="" data-toggle="validator" id="addUserForm">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">x</span>
							</button>
							<h4 id="addUserModalTitle" class="modal-title" th:text="#{label.add-user}"></h4>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="form-group col-sm-6 has-feedback">
									<label for="firstName" class="control-label" th:text="#{label.first-name}"></label>
									<input type="text" class="form-control" id="add_firstName"
										name="firstName" required="required"/>
									<div class="help-block with-errors"></div>
								</div>
								<div class="form-group col-sm-6 has-feedback">
									<label for="lastName" th:text="#{label.last-name}"></label>
									<input type="text"
										class="form-control" id="add_lastName" name="lastName"
										required="required" />
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-sm-6 has-feedback">
									<label for="firstName" th:text="#{label.username}"></label>
									<input type="text"
										class="form-control lower-case" id="add_username" name="username" 
										required="required" 
										pattern="^[a-z0-9_]+$"
										maxlength="16"
										data-pattern-error="Username is invalid. (Only a-z, 0-9 and _ allowed.)"
										th:data-remote="@{/api/validation/username}"
										data-remote-error="Username already exists."/>
									<div class="help-block with-errors"></div>
								</div>
								<div class="form-group col-sm-6 has-feedback">
									<label for="email" th:text="#{label.email}"></label>
									<input type="text" pattern="^\b[a-zA-Z0-9._%-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}\b$"
										class="form-control email" id="add_email" name="email" 
										data-error="Email address is invalid."/>
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-sm-6 has-feedback">
									<label for="password" th:text="#{label.password}"></label>
									<input type="password"
										class="form-control" id="add_password" name="password"
										required="required" data-minlength="6" maxlength="32"
										data-minlength-error="Minimum of 6 characters required for Password."
										 />
									<div class="help-block with-errors"></div>
								</div>
								<div class="form-group col-sm-6 has-feedback">
									<label for="confirmPassword" th:text="#{label.confirm-password}"></label>
									<input
										type="password" class="form-control" id="add_confirmPassword"
										name="confirmPassword" 
										required="required"
										maxlength="32"
										data-match="#add_password"
										data-match-error="Confirm Password dosen't match with Password."
										/>
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-sm-6 has-feedback">
									<label for="roles" th:text="#{label.role}"></label>
									<select class="form-control" required="required"
										id="add_roles" name="roles" style="width: 100%">
										<option th:each="role : ${roles}" 
											th:value="${role.id}" th:text="${role.name}"></option>
									</select>
									<div class="help-block with-errors"></div>
								</div>
								<div class="form-group col-sm-6">
									<label for="enabled" th:text="#{label.status}"></label>
									<div>
										<input type="checkbox" name="enabled" id="add_enabled"
											data-toggle="toggle" data-on="Active" data-off="Inactive"
											data-onstyle="success" data-offstyle="danger"
											data-width="100px" checked="checked" />
									</div>
								</div>
							</div>

						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default pull-left"
								data-dismiss="modal">
								<i class="fa fa-close padding-right-sm"></i><span th:text="#{button.close}"></span>
							</button>
							<button type="submit" id="add_submitButton"
								class="btn btn-primary">
								<i class="fa fa-save padding-right-sm"></i><span th:text="#{button.save}"></span>
							</button>
						</div>
					</form>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		
		<div class="modal fade" role="dialog"
			aria-labelledby="editUserModalTitle" id="editUserModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<form action="" data-toggle="validator" id="editUserForm">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">x</span>
							</button>
							<h4 id="editUserModalTitle" class="modal-title" th:text="#{label.edit-user}"></h4>
						</div>
						<div class="modal-body">
							<input type="hidden" class="form-control"  id="edit_id"
										name="id" required="required"/>
							<div class="row">
								<div class="form-group col-sm-6 has-feedback">
									<label for="firstName" class="control-label" th:text="#{label.first-name}"></label>
									<input type="text" class="form-control" id="edit_firstName"
										name="firstName" required="required"/>
									<div class="help-block with-errors"></div>
								</div>
								<div class="form-group col-sm-6 has-feedback">
									<label for="lastName" th:text="#{label.last-name}"></label>
									<input type="text"
										class="form-control" id="edit_lastName" name="lastName"
										required="required" />
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-sm-6 has-feedback">
									<label for="firstName" th:text="#{label.username}"></label>
									<input type="text"
										class="form-control lower-case" id="edit_username" name="username" 
										readonly="readonly"/>
									<div class="help-block with-errors"></div>
								</div>
								<div class="form-group col-sm-6 has-feedback">
									<label for="email" th:text="#{label.email}"></label>
									<input type="text" pattern="^\b[a-zA-Z0-9._%-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}\b$"
										class="form-control email" id="edit_email" name="email" 
										data-error="Email address is invalid."/>
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-sm-6 has-feedback">
									<label for="roles" th:text="#{label.role}"></label>
									<select class="form-control" required="required"
										id="edit_roles" name="roles" style="width: 100%">
										<option th:each="role : ${roles}" 
											th:value="${role.id}" th:text="${role.name}"></option>
									</select>
									<div class="help-block with-errors"></div>
								</div>
								<div class="form-group col-sm-6">
									<label for="enabled" th:text="#{label.status}"></label>
									<div>
										<input type="checkbox" name="enabled" id="edit_enabled"
											data-toggle="toggle" data-on="Active" data-off="Inactive"
											data-onstyle="success" data-offstyle="danger"
											data-width="100px" checked="checked" />
									</div>
								</div>
							</div>

						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default pull-left"
								data-dismiss="modal">
								<i class="fa fa-close padding-right-sm"></i><span th:text="#{button.close}"></span>
							</button>
							<button type="submit" id="edit_submitButton"
								class="btn btn-primary">
								<i class="fa fa-save padding-right-sm"></i><span th:text="#{button.save}"></span>
							</button>
						</div>
					</form>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		
		<div class="modal fade" role="dialog"
			aria-labelledby="changePasswordModalTitle" id="changePasswordModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<form action="" data-toggle="validator" id="changePasswordForm">
						<input type="hidden" class="form-control"  id="changePassword_id"
										name="id" required="required"/>
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">x</span>
							</button>
							<h4 id="changePasswordModalTitle" class="modal-title" th:text="#{label.change-password}"></h4>
						</div>
						<div class="modal-body">
							
							<div class="row">
								<div class="form-group col-sm-6 has-feedback">
									<label for="firstName" th:text="#{label.username}"></label>
									<input type="text" id="changePassword_username"
										class="form-control lower-case" readonly="readonly"/>
									<div class="help-block with-errors"></div>
								</div>
								
							</div>
							<div class="row">
								<div class="form-group col-sm-6 has-feedback">
									<label for="newPassword" th:text="#{label.new-password}"></label>
									<input type="newPassword"
										class="form-control" id="changePassword_newPassword" name="newPassword"
										required="required" data-minlength="6" maxlength="32" value=""
										data-minlength-error="Minimum of 6 characters required for Password."
										 />
									<div class="help-block with-errors"></div>
								</div>
								<div class="form-group col-sm-6 has-feedback">
									<label for="confirmPassword" th:text="#{label.confirm-password}"></label>
									<input
										type="password" class="form-control" id="changePassword__confirmPassword"
										required="required"
										maxlength="32"
										value=""
										data-match="#changePassword_newPassword"
										data-match-error="Confirm Password dosen't match with New Password."
										/>
									<div class="help-block with-errors"></div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default pull-left"
								data-dismiss="modal">
								<i class="fa fa-close padding-right-sm"></i><span th:text="#{button.close}"></span>
							</button>
							<button type="submit" class="btn btn-primary">
								<i class="fa fa-lock padding-right-sm"></i><span th:text="#{label.change-password}"></span>
							</button>
						</div>
					</form>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
	</div>
	
	<th:block layout:fragment = "scripts">
		<!-- page script -->
		<script>
		
			$(function() {
				var userDataTable = $('table#userTable').DataTable({
					ajax : {
						contentType: 'application/json',
						url: contextRoot + '/data/users',
						type: 'POST',
						data: function(d) {
							return JSON.stringify(d);
						}
					},
					serverSide : true,
					select: 'single',
					deferRender: true,
					columns : [{
						data : 'username'
					}, {
						data : 'firstName'
					}, {
						data : 'lastName'
					}, {
						data : 'email'
					}, {
						data : 'roles',
						render: function (data, type, row) {
							var roleNameArray = []
							if(data) {
								roleNameArray = data.map(function (role, index) {
												    return role.name;
												}); 
							}
							return roleNameArray.join(', ');
						}
					}, {
						data : 'enabled',
						class : 'text-center',
						render: function (data, type, row) {
									var statusBudge = '<small class="label bg-green">Active</small>';
									if(!data) {
										statusBudge = '<small class="label bg-red">Inactive</small>';
									}
									return statusBudge;
								}
						
					}, {
						 orderable : false,
						 class : 'text-center',
			             data : 'id',
			             render: function (data, type, row) {
								return '<span class="btn-group">'
								 + '<button class="btn btn-primary btn-xs edit-item" title="Edit" data-id="' + data +'">'
								 + '   <i class="fa fa-pencil"></i>'
								 + ' </button>'
								 + '<button class="btn btn-primary btn-xs change-password-item" title="Change Password" data-id="' + data +'">'
								 + '   <i class="fa fa-lock"></i>'
								 + ' </button>'
								 + '</span>';
							}
					}]
				});
				
				$("#addUserModal").on("hide.bs.modal", function() {
					// On modal close, reset form
					 $('#addUserForm')[0].reset();
				});
				
				// Submit add user form
				$("#addUserForm").submit(function( event ) {
					event.preventDefault();
					
					var hasErrors = $('#addUserForm').validator('validate').has('.has-error').length;
					
					if(!hasErrors) {
					  	var formValues = $(this).serialize();
					  
					  	$.ajax({
					  	   url: contextRoot + '/api/users',
					  	   type: 'POST',
					  	   data: formValues,
					  	   success: function(response) {
					  		 if(response.status) {
					        		// Close modal popup
					        		 $('#addUserModal').modal('toggle');
					        		
					        		// Show success alert
					        		swal("Created !!", "User created successfully.", "success");
					        		
					        		// add new row in data tables
					        		var user = response.data;
					        		userDataTable.row.add( {
					                    "username": user.username,
					                    "firstName": user.firstName,
					                    "lastName": user.lastName,
					                    "email": user.email,
					                    "roles": user.roles,
					                    "enabled": user.enabled
					                } ).draw();
					        		
					        	} else {
					        		// Show failure alert
					        		swal("Failure !!", "User cannot be created. \r\n" + response.message, "error");
					        	}
					  	   }
					  	});
					}
				  
				});
				
				$(document).on("click", ".edit-item", function(e){
					
					var row = userDataTable.row($(this).closest("tr"))
					var rowData = row.data();
					
					// Prefill edit form
					$("#edit_id").val(rowData.id);
					$("#edit_firstName").val(rowData.firstName);
					$("#edit_lastName").val(rowData.lastName);
					$("#edit_username").val(rowData.username);
					$("#edit_email").val(rowData.email);
					var roleIds =  $.map(rowData.roles, function(obj) {
							return obj.id;
						});
					
					$("#edit_roles").val(roleIds).trigger("change"); 

					if(rowData.enabled) {
						$("#edit_enabled").bootstrapToggle('on');
					} else {
						$("#edit_enabled").bootstrapToggle('off');
					}
					
					// Show edit modal dialog
					 $('#editUserModal').modal('toggle');
					
				});
				
				$("#editUserModal").on("hide.bs.modal", function() {
					// On modal close, reset form
					 $('#editUserForm')[0].reset();
				});
				
				// Submit edit user form
				$("#editUserForm").submit(function( event ) {
					event.preventDefault();
					
					var hasErrors = $('#editUserForm').validator('validate').has('.has-error').length;
					
					if(!hasErrors) {
					  	var formValues = $(this).serialize();
					  	var userId = $("#edit_id").val();
					  	var userUpdateURL = '/api/users/' + userId; 
						$.ajax({
						  	   url: contextRoot + userUpdateURL,
						  	   type: 'PUT',
						  	   data: formValues,
						  	   success: function(response) {
						  		 if(response.status) {
						        		// Close modal popup
						        		 $('#editUserModal').modal('toggle');
						        		
						        		// Show success alert
						        		swal("Updated !!", "User updated successfully.", "success");
						        		
						        		// add new row in data tables
						        		var user = response.data;
						        		userDataTable.rows({selected : true}).data( {
						                    "username": user.username,
						                    "firstName": user.firstName,
						                    "lastName": user.lastName,
						                    "email": user.email,
						                    "roles": user.roles,
						                    "enabled": user.enabled
						                } ).draw();
						        		
						        	} else {
						        		// Show failure alert
						        		swal("Failure !!", "User cannot be updated. \r\n" + response.message, "error");
						        	}
						  	   }
						  });
					 }
				});
				
				// Change Password handling
				$(document).on("click", ".change-password-item", function(e){
					
					var row = userDataTable.row($(this).closest("tr"))
					var rowData = row.data();
					
					$('#changePasswordForm')[0].reset();
					// Set username in change password form
					$("#changePassword_id").val(rowData.id);
					$("#changePassword_username").val(rowData.username);
					
					// Show change password modal
					 $('#changePasswordModal').modal('toggle');
				});
				
				$("#changePasswordModal").on("hide.bs.modal", function() {
					// On modal close, reset form
					 $('#changePasswordForm')[0].reset();
				});
				
				// Submit edit user form
				$("#changePasswordForm").submit(function( event ) {
					event.preventDefault();
					
					var hasErrors = $('#changePasswordForm').validator('validate').has('.has-error').length;
					
					if(!hasErrors) {
					  	var formValues = $(this).serialize();
					  	var userId = $("#changePassword_id").val();
					  	var userChangePasswordURL = '/api/users/' + userId + '/changePassword';
						$.ajax({
						  	   url: contextRoot + userChangePasswordURL,
						  	   type: 'PUT',
						  	   data: formValues,
						  	   success: function(response) {
						  		 if(response.status) {
						        		// Close modal popup
						        		 $('#changePasswordModal').modal('toggle');
						        		
						        		// Show success alert
						        		swal("Password Changed !!", "Password changed successfully.", "success");
						        		
						        	} else {
						        		// Show failure alert
						        		swal("Failure !!", "Password change operation failed. \r\n" + response.message, "error");
						        	}
						  	   }
						  });
					 }
				});
			})
		</script>
	
	</th:block>
</body>
</html>