<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/base"
	th:with="pageHeader='404 Error Page'">

<head>
<title>404 Error Page</title>

</head>

<body>
	<div layout:fragment="content">

		<div class="error-page">
			<h2 class="headline text-yellow">404</h2>

			<div class="error-content">
				<h3>
					<i class="fa fa-warning text-yellow"></i> Oops! Page not found.
				</h3>

				<p>
					We could not find the page you were looking for. Meanwhile, you may
					<a href="#" th:href="@{/}">return to dashboard</a>.
				</p>

				
			</div>
			<!-- /.error-content -->
		</div>
	</div>
</body>
</html>