<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/base"
	th:with="pageHeader='500 Error Page'">

<head>
<title>500 Error Page</title>

</head>

<body>
	<div layout:fragment="content">

		<div class="error-page">
			<h2 class="headline text-red">500</h2>

			<div class="error-content">
				<h3>
					<i class="fa fa-warning text-red"></i> Oops! Something went wrong.
				</h3>

				<p>
					We will work on fixing that right away. Meanwhile, you may <a
						href="#" th:href="@{/}">return to dashboard</a>.
				</p>

			</div>
		</div>

	</div>
</body>
</html>