<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" 
	layout:decorator="layout/base" th:with="pageHeader=#{title.dashboard}">

<head>
<title th:text="#{title.dashboard}"></title>

</head>

<body>
 	<div layout:fragment="content">
		<div class="row">
	        <div class="col-md-3 col-sm-6 col-xs-12">
	          <div class="info-box">
	            <span class="info-box-icon bg-aqua"><i class="fa fa-bookmark-o"></i></span>
	
	            <div class="info-box-content">
	              <span class="info-box-text" th:text="#{label.total}"></span>
	              <span class="info-box-number" th:text="${total}"></span>
	            </div>
	            <!-- /.info-box-content -->
	          </div>
	          <!-- /.info-box -->
	        </div>
	        <!-- /.col -->
	        <div class="col-md-3 col-sm-6 col-xs-12">
	          <div class="info-box">
	            <span class="info-box-icon bg-green"><i class="fa fa-thumbs-o-up"></i></span>
	
	            <div class="info-box-content">
	              <span class="info-box-text" th:text="#{label.closed}"></span>
	              <span class="info-box-number" th:text="${byStatusCountMap.get(T(org.gov.patannagarpalika.constant.ComplaintStatusEnum).CLOSED.getDisplayName())}"></span>
	            </div>
	            <!-- /.info-box-content -->
	          </div>
	          <!-- /.info-box -->
	        </div>
	        <!-- /.col -->
	        <div class="col-md-3 col-sm-6 col-xs-12">
	          <div class="info-box">
	            <span class="info-box-icon bg-yellow"><i class="fa fa-flag-o"></i></span>
	
	            <div class="info-box-content">
	              <span class="info-box-text" th:text="#{label.inprogress}"></span>
	              <span class="info-box-number" th:text="${byStatusCountMap.get(T(org.gov.patannagarpalika.constant.ComplaintStatusEnum).IN_PROGRESS.getDisplayName())}"></span>
	            </div>
	            <!-- /.info-box-content -->
	          </div>
	          <!-- /.info-box -->
	        </div>
	        <!-- /.col -->
	        <div class="col-md-3 col-sm-6 col-xs-12">
	          <div class="info-box">
	            <span class="info-box-icon bg-red"><i class="fa fa-star-o"></i></span>
	
	            <div class="info-box-content">
	              <span class="info-box-text" th:text="#{label.open}"></span>
	              <span class="info-box-number" th:text="${byStatusCountMap.get(T(org.gov.patannagarpalika.constant.ComplaintStatusEnum).OPEN.getDisplayName())}"></span>
	            </div>
	            <!-- /.info-box-content -->
	          </div>
	          <!-- /.info-box -->
	        </div>
	        <!-- /.col -->
	     </div>
	     
	    <div class="row">
        <div class="col-md-6">
          <!-- AREA CHART -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title" th:text="#{label.complaints-by-status}"></h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="box-body">
              <div class="chart">
                <canvas id="byStatusChart" style="height: 250px; width: 510px;" width="510" height="250"></canvas>
<!--               	<div id="byStatusChartLegend">
              </div>
 -->              </div>
              
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

        </div>
        <!-- /.col (LEFT) -->
        <div class="col-md-6">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title" th:text="#{label.complaints-by-type}"></h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="box-body">
              <div class="chart">
                <canvas id="byTypeChart" style="height: 250px; width: 510px;" width="510" height="250"></canvas>
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

        </div>
        <!-- /.col (RIGHT) -->
      </div>
	</div>
	
	<th:block layout:fragment = "scripts">
		<!-- page script -->
	<script th:inline="javascript">
	
	var byStatusChartData = [
		{
			value: /*[[${byStatusCountMap.get(T(org.gov.patannagarpalika.constant.ComplaintStatusEnum).CLOSED.getDisplayName())}]]*/,
			color:"#00a65a",
			highlight: "#00a65a",
			label: "Closed"
		},
		{
			value: /*[[${byStatusCountMap.get(T(org.gov.patannagarpalika.constant.ComplaintStatusEnum).IN_PROGRESS.getDisplayName())}]]*/,
			color: "#f39c12",
			highlight: "#f39c12",
			label: "In Progress"
		},
		{
			value: /*[[${byStatusCountMap.get(T(org.gov.patannagarpalika.constant.ComplaintStatusEnum).OPEN.getDisplayName())}]]*/,
			color: "#dd4b39",
			highlight: "#dd4b39",
			label: "Open"
		}

	];
	
	
	var typeLabels = [];
	var typeCounts = [];
	
	var byTypeCountMap = /*[[${byTypeCountMap}]]*/
	
	Object.keys(byTypeCountMap).forEach(function(key) {
		typeLabels.push(key);
		typeCounts.push(byTypeCountMap[key]);
	});
	
	
	var byTypeChartData = {
		    labels: typeLabels,
		    datasets: [
		        {
		            label: "By Complaint Type Data Set",
		            /* fillColor: "#00a65a",
		            strokeColor: "#00a65a",
		            highlightFill: "#00a65a",
		            highlightStroke: "#00a65a", */
		            data: typeCounts
		        }
		    ]
		};


	$(function() {
		var byStatusChartCtx = document.getElementById("byStatusChart").getContext("2d");
		var byStatusChart = new Chart(byStatusChartCtx).Doughnut(byStatusChartData, {legendTemplate : "<ul class=\"<%=name.toLowerCase()%>-legend\"><% for (var i=0; i<segments.length; i++){%><li><span style=\"background-color:<%=segments[i].fillColor%>\"></span><%if(segments[i].label){%><%=segments[i].label%><%}%></li><%}%></ul>"
		});

		/* var legend = byStatusChart.generateLegend();
		 document.getElementById("byStatusChartLegend").innerHTML = legend; */
		var byTypeChartCtx = document.getElementById("byTypeChart").getContext("2d");
		var byTypeChart = new Chart(byTypeChartCtx).Bar(byTypeChartData, {});

	});
	</script>
	</th:block>
</body>
</html>