<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" 
	layout:decorator="layout/base" th:with="pageHeader=#{title.complaints}">

<head>
<title th:text="#{title.complaints}"></title>

</head>

<body>
 	<div layout:fragment="content">
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title" th:text="#{title.complaints}"></h3>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
				<div class="row">
					<div class="col-md-8">
						<table id="complaintTable" class="table table-bordered table-striped" style="width: 100%">
							<thead>
								<tr>
									<th>#</th>
									<th th:text="#{label.name}"></th>
									<th th:text="#{label.ward-no}"></th>
									<th th:text="#{label.type}"></th>
									<th th:text="#{label.date}"></th>
									<th th:text="#{label.resolution-date}"></th>
									<th th:text="#{label.status}"></th>
								</tr>
							</thead>
						</table>
					</div>
					
					<div class="col-md-4">
						<div class="box">
							<div class="box-header with-border" data-toggle="collapse" href="#complaintDetailsBox">
								<h3 class="box-title" th:text="#{label.details}"></h3>
							</div>
							<div class="box-body collapse in" id="complaintDetailsBox">
								<div class="row">
									<div class="col-sm-6">
										<dl class="margin-bottom-xs">
											<dt th:text="#{label.complaint-no}"></dt>
											<dd id="complaintNo"></dd>
										</dl>
										<dl class="margin-bottom-xs">
											<dt th:text="#{label.complaint-type}"></dt>
											<dd id="complaintType"></dd>
										</dl>
										<dl class="margin-bottom-xs">
											<dt th:text="#{label.ward-no}"></dt>
											<dd id="wardNo"></dd>
										</dl>
										<dl class="margin-bottom-xs">
											<dt th:text="#{label.assign-to}"></dt>
											<dd id="assignTo"></dd>
										</dl>
										<dl class="margin-bottom-xs">
											<dt th:text="#{label.resolution-days}"></dt>
											<dd id="resolutionDays"></dd>
										</dl>
									</div>
									
									<div class="col-sm-6">
										<dl class="margin-bottom-xs">
											<dt th:text="#{label.date}"></dt>
											<dd id="createdDate"></dd>
										</dl>
										<dl class="margin-bottom-xs">
											<dt th:text="#{label.name}"></dt>
											<dd id="name"></dd>
										</dl>
										<dl class="margin-bottom-xs">
											<dt th:text="#{label.contact-no}"></dt>
											<dd id="contactNo"></dd>
										</dl>
										<dl class="margin-bottom-xs">
											<dt th:text="#{label.email}"></dt>
											<dd id="email"></dd>
										</dl>
										<dl class="margin-bottom-xs">
											<dt th:text="#{label.address}"></dt>
											<dd id="address"></dd>
										</dl>
									</div>
								</div>
								
								<div class="row">
									<div class="col-xs-12">
										<dl class="margin-bottom-xs">
											<dt th:text="#{label.complaint}"></dt>
											<dd id="text"></dd>
										</dl>
									</div>
								</div>

								<div class="row">
									<div class="col-xs-12">
										<dl class="margin-bottom-xs">
											<dt th:text="#{label.attachments}"></dt>
											<dd id="attachment"></dd>
										</dl>
									</div>
								</div>
								
								<div class="row">
									<div class="col-sm-6">
										<dl class="margin-bottom-xs">
											<dt th:text="#{label.status}"></dt>
											<dd>
												<select id="status">
													<option th:each="status: ${T(org.gov.patannagarpalika.constant.ComplaintStatusEnum).values()}" 
														th:value="${status}" 
														th:text="${status}"></option>
												</select>
											</dd>
										</dl>
									</div>
									<div class="col-sm-6">
										<dl class="margin-bottom-xs">
											<dt th:text="#{label.resolution-date}"></dt>
											<dd id="resolutionDate"></dd>
										</dl>
									</div>	
								</div>
								
								<div class="row">
									<div class="col-xs-12">
										<button type="button" id="updateComplaintButton" class="btn btn-primary btn-flat pull-right">
					                  		<i class="fa fa-save padding-right-sm"></i><span th:text="#{button.update}"></span>
					                  	</button>
									</div>
								</div>	
							</div>
						</div>
						
						<div class="box">
							<div class="box-header with-border" data-toggle="collapse" href="#complaintCommentsBox">
								<h3 class="box-title" th:text="#{label.comments}"></h3>
							</div>
							<div class="box-body collapse in"  id="complaintCommentsBox">
								<div class="direct-chat-messages" style="height: 150px;">
									<div class="direct-chat-msg" id="commentTemplate" style="display: none" >
										<div class="direct-chat-info clearfix">
											<span class="direct-chat-name pull-left" id="createdBy"></span> 
											<span class="direct-chat-timestamp pull-right" id="createdDate"></span>
										</div>
										<!-- /.direct-chat-info -->
										<img class="direct-chat-img" th:src="@{/assets/img/user8-128x128.jpg}"
											alt="message user image">
										<!-- /.direct-chat-img -->
										<div class="direct-chat-text" id="text"></div>
										<!-- /.direct-chat-text -->
									</div>
								</div>
								<div class="input-group">
									<input type="text" name="text" id="complaintComment" placeholder="Type Comment ..." class="form-control"/>
					               <span class="input-group-btn">
					                  <button type="button" id="addCommentButton" class="btn btn-primary btn-flat">
					                  	<i class="fa fa-plus-square padding-right-sm"></i><span th:text="#{button.add}"></span>
					                  </button>
					                </span>
					             </div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	
	<th:block layout:fragment = "scripts">
		<!-- page script -->
		<script>
			$(function() {
				// Complaints data table initialization
				var complaintDataTable = $('table#complaintTable').DataTable({
					ajax : {
						contentType: 'application/json',
						url: contextRoot + '/data/complaints',
						type: 'POST',
						data: function(d) {
							return JSON.stringify(d);
						}
					},
					serverSide : true,
					select: 'single',
					deferRender: true,
					order: [
							[ 4, 'desc' ]
					],
					columns : [{
						data : 'complaintNo'
					},{
						data : 'name'
					},{
						data : 'wardNo'
					},{
						data : 'complaintType.name'
					},{
						data : 'createdDate',
						render: function (data, type, row) {
							return $.format.date(data, "dd/MM/yyyy");
						}
					},{
						data : 'resolutionDate',
						render: function (data, type, row) {
							return data ? $.format.date(data, "dd/MM/yyyy") : '';
						}
					},{
						data : 'status'
					}]
				});

				//Fill Complaint Details on selection
				// Edit Modal handling
				$(document).on("click", "#complaintTable tr", function(e){

					var row = complaintDataTable.row($(this))
					var rowData = row.data();

					setComplaintDetails(rowData);
					setComplaintComments(rowData);
				});

				// Add comment call
				$("#updateComplaintButton").on("click", function(e) {
					var complaintData = complaintDataTable.row({selected : true}).data();
					if(complaintData) {
						$.ajax({
							  type: "PUT",
							  dataType: 'json',
							  url: contextRoot + '/api/complaints/' + complaintData.id,
							  data: {
								  status: $("#complaintDetailsBox #status").val().trim()
							  },
							  success: function (response) {
								  if(response.status) {
									  complaintDataTable.row({selected : true}).data(response.data).draw();
									  setComplaintDetails(response.data);
									  setComplaintComments(response.data);
								  } else {
									  swal("Failure !!", "Complaint cannot be updated. \r\n" + response.message, "error");
								  }
							  }
						});
					} else {
						text: $("#complaintComment").val(null);
					}
				});




				// Add comment call
				$("#addCommentButton").on("click", function(e) {
					var complaintData = complaintDataTable.row({selected : true}).data();

					if($("#complaintComment").val() &&  $("#complaintComment").val().trim() && complaintData) {
						$.ajax({
							  type: "POST",
							  dataType: 'json',
							  url: contextRoot + '/api/complaints/' + complaintData.id +'/comments',
							  data: {
								  text: $("#complaintComment").val().trim()
							  },
							  success: function (response) {
								  if(response.status) {
									  $("#complaintComment").val(null);
									  // Add comment to exisitng comment box
									  addComment(response.data);
								  } else {
									  swal("Failure !!", "Comment cannot be added. \r\n" + response.message, "error");
								  }
							  }
						});
					} else {
						text: $("#complaintComment").val(null);
					}
				});
				
			});
			
			function setComplaintDetails(complaintData) {
				var complaintDetails = $("#complaintDetailsBox");
				complaintDetails.find("#complaintNo").html(complaintData.complaintNo);
				complaintDetails.find("#complaintType").html(complaintData.complaintType.name);
				complaintDetails.find("#wardNo").html(complaintData.wardNo);
				var assignTo = complaintData.complaintType.assignTo;
				complaintDetails.find("#assignTo").html(assignTo.username + ' (' + (assignTo.firstName || '&nbsp;') + ' ' + (assignTo.lastName || '&nbsp;') + ')' );
				complaintDetails.find("#resolutionDays").html(complaintData.complaintType.resolutionDays || '');
				complaintDetails.find("#resolutionDate").html(complaintData.resolutionDate ? $.format.date(complaintData.resolutionDate, "dd/MM/yyyy") : '&nbsp;');
				complaintDetails.find("#createdDate").html($.format.date(complaintData.createdDate, "dd/MM/yyyy") || '&nbsp;');
				complaintDetails.find("#name").html(complaintData.name || '&nbsp;');
				complaintDetails.find("#contactNo").html(complaintData.contactNo || '&nbsp;');
				complaintDetails.find("#email").html(complaintData.email || '&nbsp;');
				complaintDetails.find("#address").html(complaintData.address || '&nbsp;');
				complaintDetails.find("#text").html(toHTMLText(complaintData.text) || '&nbsp;');
				complaintDetails.find("#status").val(complaintData.status);
				if(complaintData.attachment) {
					var attachmentURL = '/api/complaints/attachments/' + complaintData.attachment.id
					complaintDetails.find("#attachment").empty();
					complaintDetails.find("#attachment").append("<a target='_blank' href=" + attachmentURL + ">" + complaintData.attachment.fileName + "</a>");
				}
			}
			
			function setComplaintComments(complaintData) {
				var complaintComments = $("#complaintCommentsBox");
				
				// Clear old comments
				complaintComments.find(".complaint-comment").remove();
				
				if(complaintData.comments && complaintData.comments.length > 0) {
					$.each(complaintData.comments, function( index, comment ) {
						addComment(comment);
					});
				} 
			}
			
			function addComment(comment) {
				var commentDiv = $("#commentTemplate").clone();
				commentDiv.find("#createdBy").html(comment.createdBy);
				commentDiv.find("#createdDate").html($.format.date(comment.createdDate, "dd/MM/yyyy"));
				commentDiv.find("#text").html(toHTMLText(comment.text));
				commentDiv.removeAttr("id");
				commentDiv.css("display", "");
				commentDiv.addClass("complaint-comment");
				
				var complaintComments = $("#complaintCommentsBox");
				complaintComments.find(".direct-chat-messages").prepend(commentDiv);
			}

		</script>
</body>
</html>